extension/node_modules/
extension/out/
extension/.vscode-test/
extension/library
.test-bin
site/archive.json
site/core-browser.js
examples/**/main.edulcni
examples/**/main.edulcni.dSYM/
examples/**/output.out
