/*
Example:
{{className}} {{instanceName}}({{leftCountName}}, {{rightCountName}});
{{instanceName}}.{{addEdgeName}}({{leftVertexName}}, {{rightVertexName}});
auto {{resultName}} = {{instanceName}}.{{maximumMatchingName}}();
cout << {{resultName}}.{{matchingSizeName}} << '\n';
{{#if vertexCover}}
auto {{coverName}} = {{vertexCoverFunctionName}}({{instanceName}}.{{graphName}}(), {{rightCountName}}, {{resultName}});
{{/if}}
*/
