/*
Example:
{{className}} {{instanceName}}({{sizeExpression}});
{{instanceName}}.add_edge(u, v);
{{instanceName}}.build({{rootExpression}});
for (auto [l, r] : {{instanceName}}.path_segments(a, b, true)) {
}
auto subtree = {{instanceName}}.subtree_segment(v);
int c = {{instanceName}}.lca(a, b);
*/
