/*
Example:
{{className}} sieve(n);
{{#if includeLowestPrime}}
bool prime = sieve.is_prime(x);
{{/if}}
{{#if includeFactorization}}
auto factors = sieve.factorize(x);
{{/if}}
{{#if includePrimes}}
auto primes = {{primesFunctionName}}(n);
{{/if}}
*/
