/*
Example:
{{className}}<{{capType}}> {{instanceName}}(n);
{{instanceName}}.{{addEdgeName}}(u, v, cap);
auto {{answerName}} = {{instanceName}}.{{maxFlowName}}(s, t);
{{#if minCut}}
bool source_side = {{instanceName}}.{{minCutName}}(v);
{{/if}}
{{#if resetFlows}}
{{instanceName}}.{{resetFlowsName}}();
{{/if}}
*/
