template <typename T>
struct TreapCustomOp {
  static T neutral() { return T(); }

  static T combine(const T& lhs, const T& rhs) {
    // TODO: replace with the problem-specific aggregate merge.
    return lhs + rhs;
  }
{{#if rangeAddFeature}}

  static void apply_delta(T& value, T& aggregate, int size, const T& delta) {
    (void)size;
    value += delta;
    // TODO: update aggregate for the custom lazy-add semantics.
    aggregate += delta;
  }
{{/if}}
};
