#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

for (int mask = 0; mask < (1 << n); mask++) {
	EDULCNI_VIS(edulcni::live::bits("bitmask.mask", mask, n));
	EDULCNI_STEP("Bitmask iteration");
	forn(i, n) {
		if (mask >> i & 1) {

		}
	}
}
