#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

vector<{{valueType}}> fact({{limitExpression}} + 1, {{valueType}}(1));
vector<{{valueType}}> inv_fact({{limitExpression}} + 1, {{valueType}}(1));
for (int i = 1; i <= {{limitExpression}}; ++i) {
	fact[i] = fact[i - 1] * {{valueType}}(i);
	EDULCNI_VIS(edulcni::live::array("factorial.fact", fact));
	EDULCNI_VIS(edulcni::live::array_focus(
			"factorial.fact", i, edulcni::live::FocusRole::changed,
			"factorial derived from the previous value"));
	EDULCNI_STEP("Factorial precalculation extends the table");
}
inv_fact[{{limitExpression}}] = {{valueType}}(1) / fact[{{limitExpression}}];
EDULCNI_VIS(edulcni::live::array("factorial.inverse", inv_fact));
EDULCNI_VIS(edulcni::live::array_focus(
		"factorial.inverse", {{limitExpression}},
		edulcni::live::FocusRole::changed, "inverse factorial initialized"));
EDULCNI_STEP("Inverse factorial precalculation initialized");
for (int i = {{limitExpression}}; i > 0; --i) {
	inv_fact[i - 1] = inv_fact[i] * {{valueType}}(i);
	EDULCNI_VIS(edulcni::live::array("factorial.inverse", inv_fact));
	EDULCNI_VIS(edulcni::live::array_focus(
			"factorial.inverse", i - 1, edulcni::live::FocusRole::changed,
			"inverse factorial derived from its successor"));
	EDULCNI_STEP("Inverse factorial precalculation extends the table");
}
