#ifdef LOCAL
template <class LocalQuery, class... Args>
decltype(auto) interactive_query(LocalQuery&& local_query, Args&&... args) {
  return std::forward<LocalQuery>(local_query)(std::forward<Args>(args)...);
}
#else
template <class LocalQuery, class... Args>
long long interactive_query(LocalQuery&&, Args&&... args) {
  std::cout << "?";
  ((std::cout << ' ' << args), ...);
  std::cout << std::endl;
  long long answer;
  std::cin >> answer;
  return answer;
}
#endif

// auto answer = interactive_query(
//     [&](auto... query_args) { return local_answer(query_args...); },
//     left, right);
