#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

vector<{{valueType}}> powers({{limitExpression}} + 1, {{valueType}}(1));
vector<{{valueType}}> inv_powers({{limitExpression}} + 1, {{valueType}}(1));
const {{valueType}} power_base = {{valueType}}({{baseExpression}});
const {{valueType}} inv_power_base = {{valueType}}(1) / power_base;
for (int i = 1; i <= {{limitExpression}}; ++i) {
	powers[i] = powers[i - 1] * power_base;
	inv_powers[i] = inv_powers[i - 1] * inv_power_base;
	EDULCNI_VIS(edulcni::live::array("powers.forward", powers));
	EDULCNI_VIS(edulcni::live::array("powers.inverse", inv_powers));
	EDULCNI_VIS(edulcni::live::array_focus(
			"powers.forward", i, edulcni::live::FocusRole::changed,
			"next power derived"));
	EDULCNI_VIS(edulcni::live::array_focus(
			"powers.inverse", i, edulcni::live::FocusRole::changed,
			"next inverse power derived"));
	EDULCNI_STEP("Power precalculation extends both tables");
}
