#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

for (auto& x : a) cin >> x;
EDULCNI_VIS(edulcni::live::array("input.vector", a));
EDULCNI_STEP("Vector read");
