#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

vi a(n);
forn(i, n) cin >> a[i];
EDULCNI_VIS(edulcni::live::array("input.array", a));
EDULCNI_STEP("Array read");
