#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

vector<vi> g(n);
forn(i, m) {
	int a, b;
	cin >> a >> b;
	a--, b--;
	g[a].push_back(b);
	g[b].push_back(a);
}
EDULCNI_VIS(edulcni::live::graph("input.graph", g));
EDULCNI_STEP("Undirected graph read");
