#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

{{#if stringGrid}}
vector<string> {{name}}({{rowExpression}});
for (auto& row : {{name}}) cin >> row;
EDULCNI_VIS(edulcni::live::matrix("input.matrix", {{name}}));
EDULCNI_STEP("String grid read");
{{/if}}
{{#if valueMatrix}}
vector<vector<{{valueType}}>> {{name}}({{rowExpression}}, vector<{{valueType}}>({{columnExpression}}));
for (auto& row : {{name}})
	for (auto& value : row) cin >> value;
EDULCNI_VIS(edulcni::live::matrix("input.matrix", {{name}}));
EDULCNI_STEP("Matrix read");
{{/if}}
