#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

vector<ll> pref(n + 1);
forn(i, n) pref[i + 1] = pref[i] + a[i];
EDULCNI_VIS(edulcni::live::array("static_rsq.values", a));
EDULCNI_VIS(edulcni::live::array("static_rsq.prefix", pref));
EDULCNI_STEP("Prefix sums initialized");
auto rsq = [&](int l, int r) {
	auto result = pref[r] - pref[l];
	EDULCNI_VIS(edulcni::live::array(
	    "static_rsq.range", std::vector<int>{l, r}));
	EDULCNI_VIS(edulcni::live::value("static_rsq.result", result));
	EDULCNI_STEP("Range sum queried");
	return result;
};
