#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

for (int sub = mask; ; sub = (sub - 1) & mask) {
  EDULCNI_VIS(edulcni::live::bits("submasks.mask", mask, bits));
  EDULCNI_VIS(edulcni::live::bits("submasks.submask", sub, bits));
  EDULCNI_STEP("Submask iteration");
  // use sub
  if (sub == 0) break;
}
