#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

for (int left = mask; ; left = (left - 1) & mask) {
  int right = mask ^ left;
  EDULCNI_VIS(edulcni::live::bits("subset_partition.left", left, bits));
  EDULCNI_VIS(edulcni::live::bits("subset_partition.right", right, bits));
  EDULCNI_STEP("Subset partition iteration");
  // combine left and right
  if (left == 0) break;
}
