#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

for (int super = mask; super < (1 << bits); super = (super + 1) | mask) {
  EDULCNI_VIS(edulcni::live::bits("supermasks.mask", mask, bits));
  EDULCNI_VIS(edulcni::live::bits("supermasks.supermask", super, bits));
  EDULCNI_STEP("Supermask iteration");
  // use super
}
