/*
Example:
std::vector<std::vector<int>> {{graphName}}(n);
{{addEdgeName}}({{graphName}}, before, after);
bool {{dagName}} = false;
auto {{orderName}} = {{sortName}}({{graphName}}, &{{dagName}});
if (!{{dagName}}) {
}
*/
