/*
Example:
std::vector<std::vector<{{edgeStructName}}<{{valueType}}>>> {{graphName}}(n);
{{edgeStructName}}<{{valueType}}> edge;
std::cin >> edge;  // to weight
{{addEdgeName}}({{graphName}}, u, v, w, true);
auto {{resultName}} = {{singleSourceName}}({{graphName}}, {{sourceName}}, {{infExpression}});
auto path = {{restorePathName}}({{sourceName}}, {{targetName}}, {{resultName}});
*/
