{{#if readLoop}}
vector<{{valueType}}> {{sourceName}}({{sizeExpression}});
for (auto& value : {{sourceName}}) cin >> value;
{{/if}}
{{aliasName}}<{{valueType}}> {{instanceName}}({{constructorArg}});
{{#if queryLoop}}
int q;
cin >> q;
while (q--) {
  int type, l, r;
  {{valueType}} x;
  cin >> type >> l >> r;
{{#if oneBased}}
  --l; --r;
{{/if}}
  if (type == 1) {
    cin >> x;
{{#if rangeAdd}}
    {{instanceName}}.range_add(l, r, x);
{{else}}
    {{instanceName}}.range_assign(l, r, x);
{{/if}}
  } else {
    auto {{answerName}} = {{instanceName}}.query(l, r);
    cout << {{answerName}} << '\n';
  }
}
{{/if}}
