/*
Example:
std::vector<std::vector<int>> {{graphName}}(n);
{{addEdgeName}}({{graphName}}, u, v, true);
auto {{resultName}} = {{singleSourceName}}({{graphName}}, {{sourceName}});
auto path = {{restorePathName}}({{sourceName}}, {{targetName}}, {{resultName}});
*/
