/*
Example:
{{className}} {{instanceName}}({{sizeExpression}});
{{instanceName}}.add_edge(u, v);
{{instanceName}}.build({{rootExpression}});
int c = {{instanceName}}.lca(a, b);
int d = {{instanceName}}.dist(a, b);
int p = {{instanceName}}.kth_ancestor(v, k);
*/
