template <typename T>
inline std::vector<T> subset_zeta_transform(std::vector<T> value, int bits) {
  for (int bit = 0; bit < bits; ++bit)
    for (int mask = 0; mask < (1 << bits); ++mask)
      if (mask & (1 << bit)) value[mask] += value[mask ^ (1 << bit)];
  return value;
}

template <typename T>
inline std::vector<T> subset_mobius_transform(std::vector<T> value, int bits) {
  for (int bit = 0; bit < bits; ++bit)
    for (int mask = 0; mask < (1 << bits); ++mask)
      if (mask & (1 << bit)) value[mask] -= value[mask ^ (1 << bit)];
  return value;
}

template <typename T>
inline std::vector<T> superset_zeta_transform(std::vector<T> value, int bits) {
  for (int bit = 0; bit < bits; ++bit)
    for (int mask = 0; mask < (1 << bits); ++mask)
      if (!(mask & (1 << bit))) value[mask] += value[mask ^ (1 << bit)];
  return value;
}
