#include <iostream>
#include <vector>
#include <map>
#include <set>
#include <queue>
#include <algorithm>
#include <string>
#include <cmath>
#include <cstdio>
#include <iomanip>
#include <fstream>
#include <cassert>
#include <cstring>
#include <unordered_set>
#include <unordered_map>
#include <numeric>
#include <ctime>
#include <bitset>
#include <complex>
#include <random>
#include <functional>
using namespace std;

#ifndef EDULCNI_VIS
#define EDULCNI_VIS(...) ((void)0)
#endif
#ifndef EDULCNI_STEP
#define EDULCNI_STEP(...) ((void)0)
#endif

typedef long long ll;
typedef unsigned long long ull;

const int E2 = 100; // edulcni:const
const int E3 = 1000; // edulcni:const
const int E4 = 10000; // edulcni:const
const int E5 = 100000; // edulcni:const
const int E6 = 1000000; // edulcni:const
const int E9 = 1000000000; // edulcni:const
const ll E18 = 1ll * E9 * E9; // edulcni:const
const int FFT_MOD = 998244353; // edulcni:const
const int SIMPLE_MOD = E9 + 7; // edulcni:const
mt19937 rng(time(0));

#define all(v) v.begin(), v.end()
#define forn(x, n) for (int x = 0; x < n; x++)
#define forab(x, a, b) for (int x = a; x < b; x++)
#define sz(v) int(v.size())
#define pii pair<int, int>
#define F first
#define S second
#define vi vector<int>
#define tup(x, i) get<i>(x)

#ifdef DEBUG
	#define range(begin, end)                                       \
		do {                                                              \
			cerr << "[" << #begin << "; " << #end << "): ";       		  \
			for (auto it = begin; it != end; ++it)                        \
				cerr << *it << ' ';                                       \
			cerr << '\n';                                         		  \
		} while (0)
	#define table(t, x0, x1, y0, y1)                                                              \
		do {																							\
			cerr << "{" << #t << "[" << x0 << " : " << x1 << "][" << y0 << " : " << y1 << "]\n"; 		\
			for (int i = x0; i < x1; i++) {																\
				for (int j = y0; j < y1; j++)															\
					cerr << t[i][j] << ' ';																\
				cerr << '\n';																			\
			}													 										\
		} while(0)
#else
	#define cerr if (false) cerr
	#define range(begin, end)
	#define table(t, x0, x1, y0, y1)
#endif

#ifdef EDULCNI_ENABLED
	#define var(...) EDULCNI_VAR(__VA_ARGS__)
#elif defined(DEBUG)
	#define var(value) cerr << #value << ": " << value << '\n'
#else
	#define var(...)
#endif

const int MAXN = 5 * E5 + 10; // edulcni:const
const int INF = E9; // edulcni:const
const int MOD = SIMPLE_MOD; // edulcni:const

int n; // edulcni:input

inline void init() {

}

inline void solve() {
	init();

}

signed main() {
	#ifdef DEBUG
		freopen("input.in", "r", stdin);
		freopen("output.out", "w", stdout);
	#endif
	ios_base::sync_with_stdio(0);
	cin.tie(0);
	cout.tie(0);
	// int _t; cin >> _t;
	while (cin >> n)
		solve();
	return 0;
}
