/*
Example:
{{arenaClassName}} {{arenaName}}({{capacityExpression}});
using Alloc = {{allocatorClassName}}<{{valueType}}>;
std::vector<{{valueType}}, Alloc> {{containerName}}{Alloc({{arenaName}})};
*/
